<nav class="navbar navbar-default " role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-6">
			<span class="sr-only">Toggle navigation</span>
			<i class="fa fa-bars fa-lg"></i>
      </button>
		  <div class="visible-lg">&nbsp;</div>
          <a href="{:U('home/index')}" class="navbar-brand"><!-- <i class="fa fa-leaf"></i> -->&nbsp;&nbsp;&nbsp;&nbsp;{:get_system_config("SYSTEM_NAME")}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-6">
          <ul class="nav navbar-nav navbar-right">
				<foreach name="top_menu" item="top_menu_vo">
				<a class="btn btn-app app-nav btn-xs nav-app"  href="#" url="{:U($top_menu_vo['url'])}" node="{$top_menu_vo.id}" onclick="click_top_menu(this)" >
					<i class="{$top_menu_vo.icon} bigger-100"></i>{$top_menu_vo.name}
					<php>
						$bc_class="";
						$module_count=0;
						$icon_class=$top_menu_vo['icon'];
						if(strpos($icon_class,"bc-")!==false){
							$bc_class=get_bc_class($icon_class);
							$module_count=array_sum($new_count[$bc_class]);
							if($module_count>99){
								$module_count="99+";
							}
							if($module_count==0){
								$module_count=null;
							}
						}</php>
						<notempty name="module_count">
							<span class="badge badge-pink">{$module_count}</span>
						</notempty>					
				</a>&nbsp;&nbsp;
				</foreach>

				<a class="btn btn-app btn-xs btn-danger" style="margin-top:15px;margin-bottom:20px;margin-left:7px;margin-right:10px;" href="{:U('login/logout')}" ><i class="fa fa-sign-out bigger-100"></i>退出</a>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>